Makefile
Makefile.in
/aclocal.m4
autom4te.cache/*
build-aux/*
/compile
/config.guess
/config.h.in
/config.sub
/configure
/install-sh
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
.deps
.libs
build
/src/config.h.in
*.pyc
*.o
*.lo
/benchmark/speed
/config.log
/config.status
/libtool
/src/avx2/.dirstamp
/src/config.h
/src/config.h.in~
/src/generic/.dirstamp
/src/libfeslite.la
/src/stamp-h1
/src/x86_64/.dirstamp
/test/consistency
/test/consistency.log
/test/consistency.trs
/test/designated_solution
/test/designated_solution.log
/test/designated_solution.trs
/test/many_solutions
/test/many_solutions.log
/test/many_solutions.trs
/test/test-suite.log
/benchmark/correct_use
/src/feslite-config.h
/src/feslite-config.h.in
